.result#submitResult {
  display:none;
  font-size: 25pt;;
  font-style: italic;
  text-align: auto;
  margin-block-start: 15%;
}
  
h2 {
  font-size: 35pt;
  font-style: normal;
  color: red;
  margin-bottom: 25pt;


}


.textEnter#check {
  font-size: 30pt;
  width: 60%;
  float: left;
  padding: 40pt;
  background-color: rgb(255, 255, 14,.4);
  
}

.roboTry {
  float: left;
  width: 40%;
  text-align: center;
  padding: 20pt;
  margin-top: 10%;
}

body {
  text-align: center;
  font-family: monospace;
  background-image: url(/IMG/back.png);
}

.greeting {
   width: 60%;
  font-family: monospace;
  float: left;
  margin-top: 20%;

}

.robbi{
  width: 25%;
  float: left;
  margin-top: 25%;
  box-sizing: border-box;

}
.speechBub {
  width: 200;
  margin-top: 10%;
  float: left;
}

h1 {
    text-align: center;
    padding: 20px;
    color: black;
    width: 100%;
    margin-top: 30pt;
}

#input {
  font-size: 18pt;
  margin-block: 10pt;
  border-style:dotted;
  border-color: yellow;
  border-width: 5pt;
  color:red;
  width: 60%;
  text-align: center;
}



button {
  font-size: 19pt;
  margin-block:20pt;
  color: rgb(255, 255, 255);
  background-color: red;
  width: 50%;
  text-align: center;
}

html {
  background-image: url(/IMG/back.png);
  background-size: contain;
}